/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #0a0a0a;
}

/* Estilos do Cabeçalho */
header {
    display: flex;
    justify-content: space-between; /* Espaça os itens: título à esquerda e menu à direita */
    align-items: center; /* Alinha os itens verticalmente no centro */
    background-color: #aa98da;
    color: white;
    padding: 1rem 2rem;
}

/* Título no canto esquerdo */
.header-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-right: auto; /* Alinha o título à esquerda */
}

/* Estilos do Menu de Navegação */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ecace4;
}

/* Estilo da Seção com Imagem e Texto */
.bio-container {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente ao centro */
    padding: 1rem;
    margin: 2rem 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilo da Imagem */
.bio-image img {
    width: 200px; /* Largura fixa da imagem */
    height: auto; /* Manter a proporção da imagem */
    border-radius: 8px;
    margin-right: 15rem; /* Espaço entre a imagem e o texto */
}

section p {
    text-align: center;  /* Centraliza o texto */
    font-size: 1.2rem;
    line-height: 1.6;
    color: #000000;
}

/* Para os títulos da bio-container */
.bio-text h2 {
    text-align: center;  /* Centraliza o título */
    font-size: 2rem;
    color: #7396d8;
    margin-bottom: 1rem;
}

/* Estilos das Seções */
section {
    padding: 3rem;
    margin: 1rem 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left; /* Centraliza todo o texto da seção */
}

section h2 {
    font-size: 2rem;
    color: #7396d8;
    text-align: center; /* Centraliza o título h2 */
}

section h3 {
    font-size: 1.1rem;
    color: #4a188bee;
    text-align: left; /* Centraliza o título h3 */
}

/* Estilo do Texto */
.bio-text p {
    text-align: center; /* Centraliza o texto dentro da bio */
    font-size: 1.2rem;
    line-height: 1.6;
    color: #000000;
}

/* Estilos do Rodapé */
footer {
    background-color: #aa98da;
    color: white;
    text-align: center;
    padding: 0rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
